<body class="text-center">
    <mat-toolbar>
        <span>Bank Management System</span>
        <input type="button" value="Logout" routerLink="/" style="position: absolute; right: 0; margin-right: 5mm;">
    </mat-toolbar>
    <br><br>
    <br><br>
    <br><br>
    <main class="form-signin">
        <button type="button" class="w-100 btn btn-lg btn-dark" routerLink="/apply-loan">Apply For
            Loan</button>
        <br><br><br><br>
        <button type="button" class="w-100 btn btn-lg btn-dark" routerLink="/update-account">Update
            Account Details</button>
    </main>
</body>