<!-- Personal/home Loan  -->
<!-- 1. Annual Income – Represents the Annual Income  -->
<!-- 2. Company Name – Represents the Company Name  -->
<!-- 3. Designation – Represents the Designation  -->
<!-- 4. Total Exp – Represents the Total Experience  -->
<!-- 5. Exp with Current company – Represents the Experience with Current company -->

<div class="row">
    <label class="col col-form-label" for="annualIncome">Annual Income</label>
    <input type="number" class="col form-control" required ngModel name="annualIncome" id="annualIncome">
</div>
<br>
<div class="row">
    <label class="col col-form-label" for="companyName">Company Name</label>
    <input type="text" class="col form-control" required ngModel name="companyName" id="companyName">
</div>
<br>
<div class="row">
    <label class="col col-form-label" for="designaton">Designation</label>
    <input type="text" class="col form-control" required ngModel name="designaton" id="designaton">
</div>
<br>
<div class="row">
    <label class="col col-form-label" for="totalExperience">Total Experience</label>
    <input type="number" class="col form-control" required ngModel name="totalExperience" id="totalExperience">
</div>
<br>
<div class="row">
    <label class="col col-form-label" for="experienceWithCurrentCompany">Experience with Current Company</label>
    <input type="number" class="col form-control" required ngModel name="experienceWithCurrentCompany"
        id="experienceWithCurrentCompany">
</div>