<!-- Education Loan -->
<!-- 1. Course Fee – Represents the Course Fee -->
<!-- 2. Course – Represents the Course -->
<!-- 3. Father Name – Represents the Father’s Name  -->
<!-- 4. Father Occupation – Represents the Father’s Occupation  -->
<!-- 5. Father’s Total Exp – Represents the Father’s Total Experience  -->
<!-- 6. Father’s Exp with Current company - – Represents the Father’s Experience with Current company  -->
<!-- 7. Ration Card No – Represents the Ration Card Number  -->
<!-- 8. Annual Income – Represents the Annual Income  -->

<div class="row">
    <label class="col col-form-label" for="courseFee">Course Fee</label>
    <input type="number" class="col form-control" required ngModel name="courseFee" id="courseFee">
</div>
<br>
<div class="row">
    <label class="col col-form-label" for="course">Course</label>
    <input type="text" class="col form-control" required ngModel name="course" id="course">
</div>
<br>
<div class="row">
    <label class="col col-form-label" for="fatherOccupation">Father Occupation</label>
    <input type="text" class="col form-control" required ngModel name="fatherOccupation" id="fatherOccupation">
</div>
<br>
<div class="row">
    <label class="col col-form-label" for="rationCardNumber">Ration Card Number</label>
    <input type="number" class="col form-control" required ngModel name="rationCardNumber" id="rationCardNumber">
</div>
<br>
<div class="row">
    <label class="col col-form-label" for="annualIncome">Annual Income</label>
    <input type="number" class="col form-control" required ngModel name="annualIncome" id="annualIncome">
</div>