/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
.ng-valid[required], .ng-valid.required {
    border-left: 5px solid green;
    border-right: 5px solid green;
    /* border-left: rgba(34, 117, 209, 0.711922268907563); */
    /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid red;
    border-right: 5px solid red;
    /* border-left: rgba(241, 82, 58, 1); */
    /* red */
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: rgb(34, 117, 209);
    background: linear-gradient(0deg, rgba(34, 117, 209, 0.711922268907563) 0%, rgba(241, 82, 58, 1) 100%);
    background: #304352;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #d7d2cc, #304352);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #d7d2cc, #304352);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* span {
    color: darkblue;
} */

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}